div.box, div.cell {
	display: inline-block;

}

.cell input {
	width : 40px;
	height: 40px;
	border:1px solid grey;
 	text-align: center;


}

div.box {
	border:2px solid grey;
 	

}

.row_cell input  {
	width : 40px;
	height: 40px;
 	text-align: center;
 	border:1,5px solid grey;

}


#sudoku {
	font-size: 0;
	text-align: center;
}

body {
	text-align: center;
	font-family: Arial;


}

button {
	margin-top: 20px;
	border-radius: 100%;
	background-color: white;
	text-align: center;
	font-size: 10;
	
}