div.cell {
	display: inline-block;

}

.cell input {
	border-radius: 45px;
	content:0% solid grey;
 	text-align: center;


}

div.box {
	display: inline-block;
	border:1px solid grey;
 	
}

.cell-row input  {
	margin: 5px 5px 5px 5px;
	width : 30px;
	height: 30px;
 	text-align: center;
 	border:1.5px solid grey;

}

#sudoku {
	position: absolute;
	margin-top: 12%;
	margin-left: 40%;
	font-size: 0;
	text-align: center;
	width: 500px;
	height: 500px;
}

body {
	position: relative;
	text-align: center;
	
}

#title {
	position: absolute;
	width:100px;
	height:500px;
	margin-top:60px;
	margin-left:118px;
	font-family: 'Amatic SC', cursive;
	font-size:24;
}

#para {
	position: absolute;
	width: 220px;
	height: 200px;
	font-family: helvetica;
	font-size:9px;
	margin-top: 470px;
	margin-left: 100px
}

#style {
	position: absolute;
	width: 100px;
	height: 100px;
	margin-left:183px;
	margin-top: 263px;
}

button {
	margin-left: -430px;
	margin-top:-40px;
	border-radius: 20px;
	border:1.5px;
	color:white;
	width : 40px;
	height: 40px;
	background-color: #FF00FF;
	text-align: center;
	font-size: 6px;
	font-family: helvetica;	
}

#button3 {
	position: absolute;
	border-radius: 50px;
	border:1.5px;
	background-color: 993366;
	width:100px;
	height:100px;
	margin-left: -80px;
	margin-top: 590px;
	font-size: 9px;
	text-align:center;
	color:white;

}


 #button2 {
	position: absolute;
	border-radius: 30px;
	border:1.5px;
	background-color: 66CCCC;
	width:60px;
	height:60px;
	margin-left: -90px;
	margin-top: 520px;
	font-size: 8px;
	text-align:center;
	color:white;	
}

#flash {
	border: 1.5px dashed red;
	position: absolute;
	margin-top: 280px;
	margin-left:300;
	font-size: 16;
	font-family: helvetica;
	color: red;
}

.incorrect {
	background-color: yellow;
}

.value-provided {
	background-color:;
}